:root{
	/* Color Variables */
	--grey: #54585b;
    --tan: #bfb2a4;
    --black: #000000;

    /* Font */
    --font: '';
}

@font-face {
    font-family: 'danielReg';
    src: url('font/Daniel-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rockSalt';
    src: url('font/RockSalt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1.header{
    font-family: 'danielReg';
}

h1.title{
    font-family: 'rockSalt';
}

<<<<<<< HEAD

div.Pictures {
    text-align: center;




 img {
    width: 200px;
    margin: 100px;
}

=======
.jumbotron{
    background: image('images/logo.jpeg');
    
>>>>>>> f0e5c640ef11d84d01a90edd533219841328745b
}