:root{
	/* Color Variables */
	--grey: #54585b;
    --tan: #bfb2a4;
    --black: #000000;

    /* Font */
    --font: '';
}

/*font-face reference section*/
@font-face {
    font-family: 'danielReg';
    src: url('font/Daniel-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rockSalt';
    src: url('font/RockSalt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.jumbotron{
    background: image('images/logo.jpeg');
    
}